
fieldset{
    border: 2px dashed white;
    display: inline-block;
    font-size: 20px;
    font-family: "Optima", 'Times New Roman', Times, serif;
    padding: 1em 2em;
}

legend {
    color: rgb(19, 8, 8);
    margin-bottom: 10px;
    padding: 0.5em 1em;
    background-color: rgb(230, 168, 35);
}
